@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Maven+Pro&display=swap');

body{
    background-image:url('https://www.wowpatterns.com/assets/files/resource_images/festival-seamless-pattern.png');
}

header{
    background-color: #f24074;
    padding: 10px;
}

footer{
    background-color: #fdfaf1;
}

h1{
    color:#ffffff;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    color:#6a398a;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fdfaf1;
}

h4{
    color:#3f2153;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit]{
    background-color:#f24074;
    color: white;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    color:#6a398a;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fdfaf1;
}

a{
    color: #f24074;
    hover:
}